[submodule "test/parlaylib"]
	path = test/parlaylib
	url = https://github.com/cmuparlay/parlaylib.git
[submodule "test/CPAM"]
	path = test/CPAM
	url = https://github.com/DapperX/CPAM.git
	branch = generic